* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.resolucion {
    width: 99%;
    text-align: center;
}


/**Movil**/

@media (max-width: 767px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
    .v9_16 {
      width: 225px;
      height: 226px;
      background: url("../images/v9_16.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 45px;
      left: 95px;
      overflow: hidden;
    }
    .v9_51 {
      width: 155px;
      height: 40px;
      background: url("../images/v9_51.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 400px;
      left: 105px;
      overflow: hidden;
    }
    .v9_22 {
      width: 155px;
      height: 40px;
      background: url("../images/v9_22.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 500px;
      left: 105px;
      overflow: hidden;
    }
    .v9_23 {
      width: 155px;
      height: 40px;
      background: url("../images/v9_23.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 600px;
      left: 105px;
      overflow: hidden;
    }
    .v9_24 {
      width: 155px;
      height: 40px;
      background: url("../images/v9_24.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 700px;
      left: 105px;
      overflow: hidden;
    }
}


/**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
    .desktop {
        display: none;
    }
    .movil {
        display: none;
    }
}


/**Escritorio**/

@media (min-width: 991px) {
    .tablet {
        display: none;
    }
    .movil {
        display: none;
    }

    .v1_4 {
      width: 100%;
      height: 5024px;
      background: rgba(255,255,255,1);
      opacity: 1;
      position: relative;
      top: 0px;
      left: 0px;
      overflow: hidden;
    }
    .v9_16 {
      width: 400px;
      height: 401px;
      background: url("../images/v9_16.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 43px;
      left: 425px;
      overflow: hidden;
    }
    
    .v9_22 {
      width: 250px;
      height: 60px;
      background: url("../images/v9_22.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 500px;
      left: 350px;
      overflow: hidden;
    }
    .v9_51 {
      width: 250px;
      height: 60px;
      background: url("../images/v9_51.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 500px;
      left: 50px;
      overflow: hidden;
    }
    .v9_23 {
      width: 250px;
      height: 60px;
      background: url("../images/v9_23.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 500px;
      left: 650px;
      overflow: hidden;
    }
    .v9_24 {
      width: 250px;
      height: 60px;
      background: url("../images/v9_24.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 1;
      position: absolute;
      top: 500px;
      left: 950px;
      overflow: hidden;
    }
    .v37_2 {
      width: 100%;
      height: 60px;
      background: rgba(0,212,182,1);
      opacity: 1;
      position: absolute;
      top: 965px;
      left: 0px;
      overflow: hidden;
    }
    

}
