/* Header */


/* Menú */

nav.nav_menu.active {
    font-family: 'Nunito', sans-serif;
    /* otros estilos que tengas */
}

nav.nav_menu.active a,
nav.nav_menu.active button {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav.nav_menu.active a:hover,
nav.nav_menu.active button:hover {
    background-color: #0af;
    color: #000;
    border-radius: 5px;
}


/* Icono chatbot */

.chatbot-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    /* Más arriba que antes */
    left: 20px;
    z-index: 1000;
}


/* Home */

.image_home {
    position: relative;
    top: 50px;
    left: 0;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
}

.container_text-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    align-items: center;
}

.home_text-1 {
    margin-right: 0;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.home_text-2 {
    font-size: 2.4rem;
}


/* Sobre mí */

.sobreMi {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_content-sobreMi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_texto-sobreMi {
    padding: 2rem;
    text-align: center;
}

.title_sobreMi {
    font-size: 2.4rem;
}

.texto_sobreMi {
    font-size: 1.6rem;
    line-height: 2.2rem;
}


/* Imagen de sobre mí */

.container_image-sobreMi {
    width: 80%;
    margin-top: 2rem;
}


/* Habilidades */

.cards_container--habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}


/* Formación */

.cards_container--formacion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.cards--formacion {
    margin: 0 1rem 2rem 1rem;
    width: 90%;
}


/* Proyectos */

.cards--proyectos {
    max-width: 90%;
    margin: 0 auto;
}

.container_btn--proyectos button {
    width: 100%;
    max-width: 20rem;
    margin-top: 1rem;
}


/* Contacto */

.container--contacto {
    margin: 0 auto;
    width: 90%;
    padding: 1rem;
}